.icon-shape {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.list-unstyled li:last-child { border-bottom: none !important; margin-bottom: 0 !important; }
.timeline-item:not(:last-child)::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 10px;
  bottom: 0;
  width: 2px;
  background-color: #e2e8f0;
}
